#include "torabo_tsuki_lp.dtsi"
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <behaviors/input_gestures_accel.dtsi>

// 速度適応カーソル移動: 低速時は0.3xで精密に、高速時は最大0.8x
&pointer_accel {
    input-type = <INPUT_EV_REL>;
    track-remainders;
    min-factor = <300>;
    max-factor = <800>;
    speed-threshold = <1500>;
    speed-max = <6000>;
    acceleration-exponent = <1>;
};

&pointing_listener {
    input-processors = <&pointer_accel>,
                       <&zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)>,
                       <&zip_temp_layer 1 500>;

    scroller {
        layers = <3>;
        input-processors = <&zip_xy_to_scroll_mapper>, <&zip_scroll_scaler 1 10>;
    };
};
